<%= form_for(@c_vote) do |f| %>
  <% if @c_vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@c_vote.errors.count, "error") %> prohibited this c_vote from being saved:</h2>

      <ul>
      <% @c_vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
