// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .leftCell
 {
   text-align: right;
   width: 40%;
   font-size: 12;
   font-weight: bold;
 }
.rightCell
{
  text-align: left;
}
