// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#banner {
  background: #3B5998;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #133783;
  -webkit-box-shadow: 2px 2px 20px -2px rgba(0, 0, 0, 0.52);
  font: small-caps 40px/40px "Times New Roman", serif;
  color: white;
  text-align: center;
  height: 60px;
}
#banner img {
  float: left;
  margin-left: 50px;
  height: 60px;
  width: 100px;
}
#columns {
  background: transparent;
  padding-top: 20px;
}
#main {
  margin-left: 17em;
  padding-top: 4ex;
  padding-left: 2em;
  background: white;
}
#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 16em;
  background: #d3d3d3;
  height: 500px;
}
#side a {
  color: #3B5998;
  font-size: medium;
}

.fblink
{
  cursor: pointer;
  color: #3B5998;
  text-decoration: none;
}
.content_pc
  {
  word-break: break-word;
  word-wrap: break-word;
  color: gray;

}

.custom
 {
   vertical-align: text-top;
  width: 30%;
}

.title
 {
 color: #3B5998;
  font-size: 13px;
  text-decoration: none;
  font-weight:bold;
}
postclass
  {
  background-color: white;
  width: 50%;
}